In [1]:
#import pandas and numpy
import pandas as pd
import numpy as np

#import warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
#improting dataset
train = pd.read_csv('./Dataset/tabular-playground-series-nov-2021/train.csv')
test = pd.read_csv('./Dataset/tabular-playground-series-nov-2021/test.csv')
sample_sub = pd.read_csv('./Dataset/tabular-playground-series-nov-2021/sample_submission.csv')

In [3]:
train.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,target
0,0,0.106643,3.59437,132.8040,3.18428,0.081971,1.18859,3.73238,2.266270,2.09959,...,1.09862,0.013331,-0.011715,0.052759,0.065400,4.211250,1.97877,0.085974,0.240496,0
1,1,0.125021,1.67336,76.5336,3.37825,0.099400,5.09366,1.27562,-0.471318,4.54594,...,3.46017,0.017054,0.124863,0.154064,0.606848,-0.267928,2.57786,-0.020877,0.024719,0
2,2,0.036330,1.49747,233.5460,2.19435,0.026914,3.12694,5.05687,3.849460,1.80187,...,4.88300,0.085222,0.032396,0.116092,-0.001689,-0.520069,2.14112,0.124464,0.148209,0
3,3,-0.014077,0.24600,779.9670,1.89064,0.006948,1.53112,2.69800,4.517330,4.50332,...,3.47439,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.96860,0.040017,0.044873,0
4,4,-0.003259,3.71542,156.1280,2.14772,0.018284,2.09859,4.15492,-0.038236,3.37145,...,1.91059,-0.042943,0.105616,0.125072,0.037509,1.043790,1.07481,-0.012819,0.072798,1

In [4]:
test.head()

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
0,600000,0.003229,4.838660,585.529,2.282910,0.713180,3.907830,0.480696,1.482270,4.891810,...,0.112910,1.073550,0.122149,0.086330,0.036010,0.010619,0.290343,1.898200,0.131533,0.012047
1,600001,0.008602,0.505536,-100.099,3.012670,0.027199,1.194610,5.036620,2.517440,4.553890,...,-0.020214,2.622340,0.123307,0.033063,0.123059,0.005771,-0.392923,3.689640,0.047418,0.120015
2,600002,1.461000,2.437260,-112.964,3.541230,0.752338,4.338310,1.648080,4.699910,1.950250,...,-0.011036,2.030180,-0.000426,0.084091,0.123605,0.499554,4.054650,3.330670,0.108843,0.064687
3,600003,0.140556,3.085610,179.451,0.573945,0.057342,2.216790,1.623480,0.526174,1.542540,...,0.050117,0.221613,0.045298,0.129966,0.004015,0.018279,2.696580,-0.533491,0.052524,0.011058
4,600004,0.128876,5.199760,107.466,-0.497149,0.080220,0.458121,0.629839,5.240460,-0.232279,...,0.058860,2.660430,0.135425,0.036481,0.093912,0.056315,1.110710,3.584470,0.145319,-0.050393

In [5]:
sample_sub.head(), sample_sub.shape

(       id  target
 0  600000     0.5
 1  600001     0.5
 2  600002     0.5
 3  600003     0.5
 4  600004     0.5,
 (540000, 2))

In [6]:
#checking missing value
def check_missing_value(df):
    if train.isna().values.any() == False:
        print("there is no missing value")
    else:
        print("there is missing value")

In [7]:
check_missing_value(train), check_missing_value(test)

there is no missing value
there is no missing value

(None, None)

In [8]:
#remove id column from train dan test
train = train.drop(['id'],axis=1)
test = test.drop(['id'],axis=1)

In [9]:
# import package for binary classification
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [10]:
# split into input and output columns
X = train.drop(['target'],axis=1)
y = train.target

In [11]:
X.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
0,0.106643,3.59437,132.8040,3.18428,0.081971,1.18859,3.73238,2.266270,2.09959,0.012330,...,0.010739,1.09862,0.013331,-0.011715,0.052759,0.065400,4.211250,1.97877,0.085974,0.240496
1,0.125021,1.67336,76.5336,3.37825,0.099400,5.09366,1.27562,-0.471318,4.54594,0.037706,...,0.135838,3.46017,0.017054,0.124863,0.154064,0.606848,-0.267928,2.57786,-0.020877,0.024719
2,0.036330,1.49747,233.5460,2.19435,0.026914,3.12694,5.05687,3.849460,1.80187,0.056995,...,0.117310,4.88300,0.085222,0.032396,0.116092,-0.001689,-0.520069,2.14112,0.124464,0.148209
3,-0.014077,0.24600,779.9670,1.89064,0.006948,1.53112,2.69800,4.517330,4.50332,0.123494,...,-0.015347,3.47439,-0.017103,-0.008100,0.062013,0.041193,0.511657,1.96860,0.040017,0.044873
4,-0.003259,3.71542,156.1280,2.14772,0.018284,2.09859,4.15492,-0.038236,3.37145,0.034166,...,0.013781,1.91059,-0.042943,0.105616,0.125072,0.037509,1.043790,1.07481,-0.012819,0.072798

In [12]:
# ensure all data are floating point values
X = X.astype('float32')

In [13]:
#standard scaling
from sklearn.preprocessing import StandardScaler

#define StandardScaler
ss = StandardScaler()

#X_train
X = ss.fit_transform(X)

#X_test
test = ss.transform(test)

In [14]:
# split into train and test datasets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.30,
                                                    shuffle=False)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(420000, 100) (180000, 100) (420000,) (180000,)

In [15]:
X_train

array([[-0.38255334,  0.70577145, -0.31507495, ..., -0.40088707,
        -0.16714522,  0.44337437],
       [-0.3473767 , -0.5303867 , -0.41706148, ..., -0.00806425,
        -0.4121101 , -0.37119797],
       [-0.51713634, -0.64357084, -0.13248646, ..., -0.29443437,
        -0.07890384,  0.09498443],
       ...,
       [ 1.3245387 ,  0.03539884,  0.20839114, ...,  0.4260937 ,
        -0.31484514, -0.01275232],
       [ 1.5838327 ,  1.9436094 , -0.22740741, ..., -1.366379  ,
        -0.12293742, -0.46923187],
       [ 1.1959156 , -0.42667478, -0.36599356, ..., -1.0705656 ,
        -0.28444344, -0.64497703]], dtype=float32)

In [16]:
# determine the number of input features
n_features = X_train.shape[1]
# define model
model = Sequential()
model.add(Dense(32, activation='relu', kernel_initializer='he_normal', input_shape=(n_features,)))
model.add(Dense(16, activation='relu', kernel_initializer='he_normal'))
model.add(Dense(8, activation='relu', kernel_initializer='he_normal'))
model.add(Dense(1, activation='sigmoid'))

In [17]:
# compile the model
model.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

In [18]:
class myCallback(tf.keras.callbacks.Callback):
        def on_epoch_end(self, epochs, logs={}) :
            if logs.get('accuracy') is not None and logs.get('accuracy') > 0.99 :
                print('\nReached 99.9% accuracy so cancelling training!')
                self.model.stop_training = True

In [19]:
# fit the model
callbacks = myCallback()
model.fit(X_train, y_train, epochs=30, callbacks=[callbacks])

Epoch 1/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5866 - accuracy: 0.7216
Epoch 2/30
13125/13125 [==============================] - 15s 1ms/step - loss: 0.5696 - accuracy: 0.7405
Epoch 3/30
13125/13125 [==============================] - 20s 2ms/step - loss: 0.5678 - accuracy: 0.7421
Epoch 4/30
13125/13125 [==============================] - 15s 1ms/step - loss: 0.5667 - accuracy: 0.7431
Epoch 5/30
13125/13125 [==============================] - 15s 1ms/step - loss: 0.5659 - accuracy: 0.7437
Epoch 6/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5654 - accuracy: 0.7438
Epoch 7/30
13125/13125 [==============================] - 15s 1ms/step - loss: 0.5649 - accuracy: 0.7446
Epoch 8/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5643 - accuracy: 0.7448
Epoch 9/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5640 - accuracy: 0.7449
Epoch 10/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5635 - accuracy: 0.7452
Epoch 11/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5633 - accuracy: 0.7453
Epoch 12/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5627 - accuracy: 0.7457
Epoch 13/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5626 - accuracy: 0.7457
Epoch 14/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5622 - accuracy: 0.7460
Epoch 15/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5618 - accuracy: 0.7462
Epoch 16/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5616 - accuracy: 0.7462
Epoch 17/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5613 - accuracy: 0.7462
Epoch 18/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5611 - accuracy: 0.7461
Epoch 19/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5607 - accuracy: 0.7465
Epoch 20/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5606 - accuracy: 0.7467
Epoch 21/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5602 - accuracy: 0.7468
Epoch 22/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5601 - accuracy: 0.7466
Epoch 23/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5599 - accuracy: 0.7469
Epoch 24/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5598 - accuracy: 0.7467
Epoch 25/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5596 - accuracy: 0.7471
Epoch 26/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5593 - accuracy: 0.7470
Epoch 27/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5592 - accuracy: 0.7469
Epoch 28/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5589 - accuracy: 0.7474
Epoch 29/30
13125/13125 [==============================] - 16s 1ms/step - loss: 0.5588 - accuracy: 0.7472
Epoch 30/30
13125/13125 [==============================] - 17s 1ms/step - loss: 0.5588 - accuracy: 0.7472

In [20]:
# evaluate the model
loss, acc = model.evaluate(X_test, 
                           y_test,
                           verbose=0)
print('Test Accuracy: %.3f' % acc)

Test Accuracy: 0.739

In [21]:
prediction = model.predict(test)
prediction

array([[0.7337555 ],
       [0.6884401 ],
       [0.77696186],
       ...,
       [0.6800043 ],
       [0.76010466],
       [0.67060125]], dtype=float32)

In [24]:
sample_sub['target']=prediction
sample_sub.to_csv('tabularnov21.csv',index=False)

In [23]:
sample_sub

             id    target
0        600000  0.733756
1        600001  0.688440
2        600002  0.776962
3        600003  0.252221
4        600004  0.682297
...         ...       ...
539995  1139995  0.687082
539996  1139996  0.765697
539997  1139997  0.680004
539998  1139998  0.760105
539999  1139999  0.670601

[540000 rows x 2 columns]